    <%layout('layouts/boilerplate')%>
        <div id="cluster-map"></div>
        <h1>All Campgrounds</h1>
        <ul>
            <% for(let campground of campgrounds){%>
                <a href="/campgrounds/<%=campground._id%>"></a>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <%if(campground.images && campground.images.length>0){%>
                            <img class="img-fluid" src="<%=campground.images[0].url%>" style="height: 200px;width:400px; object-fit: cover;">
                            <%}else{%>
                                <img class="img-fluid" src="https://res.cloudinary.com/dynfzfxza/image/upload/v1740487229/photo-1500964757637-c85e8a162699_guucfx.jpg" style="height: 200px;width:400px; object-fit: cover;">
                            <%}%>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%=campground.title%></h5>
                                <p class="card-text"><%=campground.description%></p>
                                <p class="card-text text-muted"><%=campground.location%></p>
                                <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>
        </ul>
        <a href="/campgrounds/new">New Campground</a>

<script>
    const maptilerApiKey = "<%= process.env.MAPTILER_API_KEY %>";
    const campgrounds = {features:<%-JSON.stringify(campgrounds) %>};
</script>   
<script src="/javascripts/clusterMap.js"></script>